.button{
    border:1px solid ;
    margin: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.gradient{
    border:none ;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.384) 0%, rgba(0, 0, 0, 0.12) 20%, rgba(56, 56, 56, 0.12) 100%);
}