.container{
    display:flex;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: column;
    .content{
        display:flex;
        width: 100%;
        margin:0 auto;
        align-items:center;
        flex-direction: column;
        p{
            letter-spacing: 2px;
            font-size: small;
            color:#dad7d7;
            font-family: '';
        }
    }
}