.container {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;

    .bannerProject {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 1) 100%);
    }
}