.navbar{
    display: flex ;
    margin:10px;
    padding:10px;
    border-radius:10px;
    justify-content:space-between;
    align-items:center;
    position:relative;
    flex-direction: column;

    /* Background Transparencia */
    background-color:rgb(0,0,0,0.5);
    /* Borrando o fundo */
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);

    /* */
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.navMenu{
     display: flex ;
}
.hamburger{
    background-color:transparent;
}
.menu{
    top:100%;
    right:0;
    list-style:none;
    display:none;

}
.menu li{
    margin: 5px 0;
}
.menu a {
    color:#fff;
    text-decoration:none;
}
.show{
    display:flex;
}