.navbar{
    display:flex;
    
    max-width:1080px;
    background-color:;

    .navMenu{
        display:flex;
        align-items:center;
        justify-content:space-between;
        width:100%;
        
    }

    .menu{
        display:none;
    }

}