.banner {
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
    align-items: center;
    justify-content: space-around;


    .aboutMe {
        display: flex;
        flex-direction: column;
    }

    .containerButtons {
        display: flex;

        button {
            display :flex;
            flex-direction: row;
            align-items:center;
            just
            padding: 10px;
            margin: 5px;
            border: 1px solid #cecece;
            border-radius: 5px;

            p {}
        }
    }
}