.banner{
    display:flex;
    margin:0 auto;
    max-width: 1080px;
    align-items: center;
    justify-content: space-around;

    
    .aboutMe{
        display:flex;
        flex-direction: column;
    }
    .containerButtons{
        display:flex;
        button{
            padding: 10px;
            backgroun
        }
    }
}