.container{

    background-color:darkslategrey;
    height: 160px;
    position:relative;
    .content{
        display:flex;
        color:var(--white);
        position:absolute;
        top:50%;
    }
}