.container{

    background-color:darkslategrey;
    height: 160px;
    width:100px
    position:relative;
    .content{
        display:flex;
        flex-direction: column;
        color:var(--white);
        position:absolute;
        top:100%;
        .contentData{
            display:flex;
        }
    }
}